.menuBar {
  background-color: var(--orange-color);
  width: 30%;
  position: fixed;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  top: -35px;
  overflow: hidden;
  text-align: center;
  z-index: 10;
}

.menuBar ul {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.menuBar a {
  width: calc(100% / 4);
  text-decoration: none;
}

.menuBar a:hover {
  color: var(--background-color);
}

.menuBar li {
  padding: 20px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 20px;
  transition: 1s;
  color: var(--background-color);
}
.menuBar li:hover {
  background-color: var(--background-color);
  color: var(--heading-color);
}

/* xsmall devices */
@media (max-width: 576px) {
  .menuBar {
    width: 65%;
  }
  .menuBar li {
    font-size: 14px;
    padding: 20px 10px 15px 5px;
  }
}

/* small devices */
@media (min-width: 576px) {
  .menuBar {
    width: 60%;
  }
  .menuBar li {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .menuBar {
    width: 50%;
  }
}
/* large screen */
@media (min-width: 992px) {
  .menuBar {
    width: 35%;
  }
  .menuBar li {
    font-size: 20px;
    padding: 20px;
  }
}

/* xlarge screen*/
@media (min-width: 1200px) {
  .menuBar {
    width: 30%;
  }
}
