.footerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 30px 0;
  border-top: 1px solid var(--heading-color);
}

.contactIcons {
  padding: 10px 0 20px 0;
  font-size: 30px;
}

.contactIcons a {
  padding: 12px;
  color: var(--orange-color);
  transition: 1s;
  border-radius: 50px;
}

.contactIcons a:hover {
  background-color: var(--background-color);
}

.copyRight {
  color: var(--heading-color);
}
